{% extends "core/base.html" %}
{% block title %}Sobre mí{% endblock %}
{% block extra %}{% endblock %}
{% block content %}
{% load static %}
    <section class="main">
            <article class="post page">

                <div class="inner">
                    <h1>Sobre mí</h1>
                    <div class="post-content">
                        <p><img class="size-full alignleft rounded" src="{% static 'core/images/about-me.png' %}" alt="about-clare" width="300" height="300">
                            Hola, mi nombre es Mai y he creado este blog para mostrarte los encantos y misterios del mundo esotérico, el cuál es muy profundo y está estrechamente relacionado con el mundo de los sueños, de ahí el nombre del blog. Si abres tu mente un poco, podré enseñarte como conectar con todo aquello que no ves, lleva mucho tiempo esperando ser descubierto por tu subconsciente.</p>
                        <p>¿Estás listo para despertar?</p>
                        <p>"El futuro pertenece a aquellos que creen en la belleza de sus sueños." 
                            - Eleanor Roosevelt. </p>
                        <p>
                            <a target="_self" class="social twitter black" href="https://www.twitter.com/"> Twitter </a>
                            <a target="_self" class="social facebook black" href="https://www.facebook.com/"> Facebook&nbsp;</a>
                            <a target="_self" class="social instagram black" href="https://www.instagram.com/">&nbsp;instagram&nbsp;</a>
                            <a target="_self" class="social flickr black" href="https://www.flickr.com/"> flickr&nbsp;</a>
                        </p>

                    </div>
                </div>

            </article>
            <div class="border"></div>


        </section>
{% endblock %}
{% block extra_2 %}{% endblock %}

