{% extends "core/base.html" %}
{% block title %}Contáctame{% endblock %}
{% block extra %}{% endblock %}%
{% block content %}
    <section class="main">
            <article class="post page">

                <div class="inner">
                    <h1>Contáctame</h1>
                    <div class="post-content">
                        <p>Puedes contactarme usando el siguiente formulario :)</p>
                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <p>
                                {{ form.name }}
                            </p>
                            <p>
                                {{ form.email }}
                            </p>
                            <p>
                                {{ form.message }}
                            </p>
                            <p class="form-submit"><input type="submit" value="Enviar"></p>
                        </form>
                    </div>
                </div>
            </article>
            <div class="border"></div>
        </section>
{% endblock %}
{% block extra_2 %}{% endblock %}



                
                        
             